:root {
    --bg: #f3f4f6;
    --text: #111827;
    --card: #fff;
    --input: #fff;
    --task-bg: #f9fafb;
    --border: #d1d5db;
}

.dark {
    --bg: #1f2937;
    --text: #f9fafb;
    --card: #374151;
    --input: #4b5563;
    --task-bg: #4b5563;
    --border: #6b7280;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    min-height: 90vh;
    transition: 0.3s ease background, color;
}

.todo-container {
    background: var(--card);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-group input {
    flex: 1;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid var(--border);
    border-radius: 8px;
    background: var(--input);
    color: var(--text);
}

.input-group button {
    padding: 10px 20px;
    font-size: 1rem;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.toggle-dark {
    background: transparent;
    border: none;
    font-size: large;
    margin-bottom: 20px;
    width: 10%;
    float: right;
}

ul.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.todo-list li {
    background: var(--task-bg);
    border: 1px solid var(--border);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
}

ul.todo-list li.completed {
    text-decoration: line-through;
    color: #9ca3af;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.actions .done {
    color: green;
}

.actions .delete {
    color: red;
}

.editInput {
    border: none;
    font-size: 1rem;
    height: 30px;
    background: var(--input);
    color: var(--text);
}

.editInput:focus {
    outline: none;
}

.editBtn {
    border: none;
    background: transparent;
    font-size: large;
    font-style: bold;
}